<!doctype html>
<title>Upload new File</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<body>
    <div class="all">
        <h1>GLYPHICS</h1>
        <form method=post enctype=multipart/form-data>
            <p>Step one: upload a sample of your handwriting.</p>
            <input type=file name=file>
            <p>Step two: input some sample text to preview your font.</p>
            <input type=text name=text placeholder="your text here...">
            <br>
            <input type=submit value="Generate Font!" onsubmit="$('#loading').show();alert();"> 
        
        <div id="loading" style="display:none;">loading....</div>
    </div>

</form>
</body>